.roll-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    .roll_ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        transition: 1s all linear;
        >div {
            transition: 1s all linear;
        }
    }
}

.roll-content::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}